services:
  neo4j:
    image: neo4j:5.7.0
    container_name: neo4j
    environment:
      NEO4J_AUTH: "${NEO4J_USER}/${NEO4J_PASS}"
      NEO4J_PLUGINS: '["graph-data-science"]'
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
    restart: on-failure

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - neo4j
    restart: on-failure

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: on-failure

  
  ingestor:
    build:
      context: ./Populate
      dockerfile: Dockerfile
    container_name: ingestor
    depends_on:
      - neo4j
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: ${NEO4J_USER}
      NEO4J_PASS: ${NEO4J_PASS}
    restart: "no"
    profiles: ["ingest"]

volumes:
  neo4j-data:
